<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<nav>
    <a href="/Accueil">Accueil</a>
    <a href="/page_recherche">Page_recherche</a>
    <a href="/Personnal">Profil</a>
    {% if work_connected %}
            <a href="/configTrip">Gérer les voyages</a>
        {% endif %}
        {%if work_resp %}
            <a href="/configUser">Gerer comptes</a>
        {%endif%}
</nav>
<h1 style="text-align:center">Ajouter une étape</h1>
<form method="POST" action="/configStage/{{ trip }}/add/process">
    <label for="visa">Visa (oui/non): </label>

    <select name="visa" id="test2" required>
        <option value="true" selected >Oui</option>
        <option value="false">Non</option>
    </select>

    <label for="date_depart">Date de départ: </label>
    <input type="date" id="date_depart" name="date_depart" required>
    <br>

    <label for="date_de_fin">Date de fin: </label>
    <input type="date" id="test" name="date_fin" required>
    <br>


    <label for="ville">id_ville: </label>

    <select name="ville" id="ville" required>
        {% for ville in villes %}
        <option value="{{ville.id_ville}}">{{ville.nom}}</option>
        {% endfor %}
    </select>    
    <br>  

    <label for="logement">id_logement: </label>
    <br>
    <select name="logement" id="logement" required>
        {% for logement in logements %}
        <option value="{{logement.id_logement}}">{{logement.valeur}}</option>
        {% endfor %}
    </select>
    <br>
    <label for="transport">id_transport: </label>

    <select name="transport" id="transport" required>
        {% for transport in transports %}
        <option value="{{transport.id_transport}}">{{transport.valeur}}</option>
        {% endfor %}
        </select>
    <br>
    <label for="id_et_type">id_et_type: </label>

    <input type="number" id="id_et_type" name="id_et_type" required>
    <button type="submit">Ajouter l'étape</button>

</html>