<html>

<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
    <title>Connexion Admin</title>

    <nav style="text-align:center; background-color:LightGray">
        <a href="/Accueil">Accueil</a>
        <a href="/page_recherche">Page_recherche</a>
        <a href="/Personnal">Profil</a>
        {% if work_connected %}
            <a href="/configTrip">Gérer les voyages</a>
        {% endif %}
        {%if work_resp %}
            <a href="/configUser">Gerer comptes</a>
        {%endif%}
      </nav>


<form method="post" action="/connexionAdmin">
    <input type="text" id="login" name="login" placeholder="Login" required>
    <input type="password" id="password" name="password" placeholder="Mot de passe" required>
    <button type="submit">Connexion</button>
</form>

</html>