<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     </head>
<nav>
  <a href="/Accueil">Accueil</a>
  <a href="/page_recherche">Page_recherche</a>
  <a href="/Personnal">Profil</a>

  {% if work_connected %}
            <a href="/configTrip">Gérer les voyages</a>
        {% endif %}
        {%if work_resp %}
            <a href="/configUser">Gerer comptes</a>
        {%endif%}
</nav>
  <form method="POST" action="/configUser/{{ user.id_travailleur }}/edit">
    <label for="login">Login :</label>
    <input type="text" id="login" name="login" value="{{ user.login }}" required>
    <br>
    <label for="id_agence">Agence :</label>

    <select id="id_agence" name="id_agence" required>
      {% for agence in lst_agence %}
      {%if agence.id_agence == user.id_agence %}
      <option value="{{ agence.id_agence }}" selected>id: {{ agence.id_agence }}, nom: {{agence.nom}} (Actuelle)</option>
      {%else%}
      <option value="{{ agence.id_agence }}">id: {{ agence.id_agence }} , nom: {{agence.nom}}</option>
      {%endif%}
    {% endfor %}

    </select>
    <br>
    <label for="responsable">Responsable :</label>
    <select id="responsable" name="responsable" required>
      {% if user.est_responsable%}
      <option value=True  selected>Oui</option>
      <option value=False >Non</option>
      {%else%}
        <option value=True>Oui</option>
        <option value=False selected >Non</option>
        {% endif %}

    </select>
    
    <button type="submit">Enregistrer les modifications</button>
</form>

<form method="POST" action="/configUser/{{ user.id_travailleur }}/delete" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce profil ?');">
  <button type="submit" style="background-color: red; color: white;">Supprimer le profil</button>
</form>

</html>